<section id="torch-toolbar">
  <div class="torch-container">
    <%= link "Edit", to: Routes.admin_manager_path(@conn, :edit, @manager), class: "torch-button" %>
    <%= link "Back", to: Routes.admin_manager_path(@conn, :index), class: "torch-button" %>
  </div>
</section>

<section id="torch-header-and-content">
  <div class="torch-container">
    <div class="header">
      <h3>Manager Details</h3>
    </div>
    <ul>
      
    </ul>
  </div>
</section>