<div class="text-light font-iregular relative min-h-screen">
  <.sparkles />
  <.navbar
    pages={SafiraWeb.Config.landing_pages()}
    registrations_open?={Safira.Event.registrations_open?()}
    current_user={Map.get(assigns, :current_user)}
  />
  <main>
    <.flash_group flash={@flash} />
    {@inner_content}
  </main>
  <.footer>
    <:tip :if={
      Map.get(assigns, :current_page, nil) in [:home, :schedule, :speakers, :faqs] and
        Safira.Event.get_feature_flag("challenges_enabled")
    }>
      Have you checked out the
      <.link class="underline" navigate={~p"/challenges"}>challenges</.link>
      yet? <.link href="https://www.youtube.com/watch?v=xvFZjo5PgG0">🏆</.link>
    </:tip>
  </.footer>
</div>
