<body class="bg-primary text-light font-iregular relative">
  <.sparkles />
  <.navbar
    pages={SafiraWeb.Config.landing_pages()}
    registrations_open?={Safira.Event.registrations_open?()}
    current_user={Map.get(assigns, :current_user)}
  />
  <main>
    <%= @inner_content %>
  </main>
  <.footer />
</body>
