<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en">
  <head>
    <link
      rel="preload"
      as="image"
      href="https://cdn.discordapp.com/attachments/1213434897331650630/1329216675848917106/sei-logo.png?ex=678988ff&amp;is=6788377f&amp;hm=a8563a37d3c6e50d11969c051081eb7a3c821b9f30dcc1050131c3b79c040cc9&amp;"
    />
    <link
      rel="preload"
      as="image"
      href="https://cdn.discordapp.com/attachments/1213434897331650630/1329251565336526919/sei.jpg?ex=678a523d&amp;is=678900bd&amp;hm=d9905f93a8796b2a630d6c615a32e0b29aff6062e45aa08c85d5315e9c331fd0&amp;"
    />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta name="x-apple-disable-message-reformatting" />
    <!--$-->
    <style>
      u + .body .gmail-blend-screen { background:#000; mix-blend-mode:screen; }
      u + .body .gmail-blend-difference { background:#000; mix-blend-mode:difference; }
    </style>
  </head>
  <div
    style="display:none;overflow:hidden;line-height:1px;opacity:0;max-height:0;max-width:0"
  >
    🎉 You&#x27;re registered for SEI&#x27;25! Here&#x27;s what you need to
    know.
    <div>
       ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿
    </div>
  </div>
  <body
    style='background-color:#ffffff;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif'
  >
    <head></head>
    <table
      align="center"
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="max-width:37.5em;background-color:#ffffff;margin:0 auto;padding:0 0 48px"
    >
      <tbody>
        <tr style="width:100%">
          <td>
            <div
              style="padding-top:1.25rem;padding-bottom:1.25rem;background-color:#04041c;background-image:linear-gradient(#04041c, #04041c)"
            >
              <div class="gmail-blend-difference">
                <div class="gmail-blend-screen">
                  <img
                    alt="SEI Logo"
                    src="https://cdn.discordapp.com/attachments/1213434897331650630/1329216675848917106/sei-logo.png?ex=678988ff&amp;is=6788377f&amp;hm=a8563a37d3c6e50d11969c051081eb7a3c821b9f30dcc1050131c3b79c040cc9&amp;"
                    style="margin-left:auto;margin-right:auto;display:block;outline:none;border:none;text-decoration:none;filter:invert(0%)"
                  />
                </div>
              </div>
            </div>
            <p
              style="font-size:1.25rem;line-height:1.75rem;font-weight:700;text-align:center;margin:16px 0"
            >
              Congratulations
              <!-- -->João Lobo<!-- -->!<br />You are going to SEI&#x27;25
            </p>
            <div style="width:100%">
              <img
                alt="Void"
                src="https://cdn.discordapp.com/attachments/1213434897331650630/1329251565336526919/sei.jpg?ex=678a523d&amp;is=678900bd&amp;hm=d9905f93a8796b2a630d6c615a32e0b29aff6062e45aa08c85d5315e9c331fd0&amp;"
                style="max-width:100%;display:block;outline:none;border:none;text-decoration:none"
              />
            </div>
            <p
              style="font-size:16px;line-height:26px;margin:16px 0;padding:0 16px"
            >
              Get ready to explore cutting-edge insights and connect with the
              industry titans. We&#x27;re looking forward to meeting you at
              SEI&#x27;25! 🤖
            </p>
            <p
              style="font-size:16px;line-height:26px;margin:16px 0;padding:0 16px"
            >
              Best,<br /><span style="color:rgb(100,116,139)">SEI Team</span>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <!--/$-->
  </body>
</html>