<html>
  <head>
    <title>Admin</title>
    <!-- Uncomment to just use the bare bones torch styles rather than the theme -->
    <!--<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/torch/base.css") %>">-->
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/torch/theme.css") %>">
  </head>

  <body class="<%= Torch.PageView.body_classes(@conn) %>">
    <header>
      <section id="torch-account-info">
        <div class="torch-container">
          <a href="/"><%= Pow.Plug.current_user(@conn).email %></a>
          <%= link "Logout", to: Routes.pow_session_path(@conn, :delete), method: :delete %>
        </div>
      </section>

      <section id="torch-nav">
        <div class="torch-container">
          <div class="torch-logo">
            <a href="/admin/badges">
              <h3>Torch</h3>
            </a>
          </div>
          <nav class="torch-nav">
            <!-- nav links here -->
            <a href="/admin/badges">Badges</a>
            <a href="/admin/attendees">Attendees</a>
          </nav>
        </div>
      </section>
    </header>

    <%= Torch.FlashView.render("_flash_messages.html", assigns) %>
    <%= render @view_module, @view_template, assigns %>
    <script src="<%= Routes.static_path(@conn, "/torch/torch.js") %>"></script>
  </body>
</html>

