<.page
  title={gettext("Hello, %{current_user_name} 👋", current_user_name: @current_user.name)}
  size={:xl}
  title_class="font-terminal uppercase"
>
  <div class="flex flex-col md:flex-row md:gap-x-8">
    <div class="flex flex-col gap-y-8">
      <div class="flex flex-row justify-between items-center mt-10 pb-2 h-12 border-b-[1px] border-lightMuted">
        <h1 class="font-semibold font-terminal uppercase px-2">Achievements</h1>
      </div>

      <div class="grid grid-cols-2 gap-4 min-w-72 md:grid-cols-1">
        <p>
          💰 <%= "#{@current_user.attendee.tokens} tokens" %>
        </p>
        <p>
          🏅 <%= gettext("%{badge_count} Badges", badge_count: @attendee_badge_count) %>
        </p>
        <p>
          🎫 <%= "#{@current_user.attendee.entries} entries" %>
        </p>
        <p>
          🏁 Level <%= @user_level %> Checkpoint
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-y-8">
      <div class="flex flex-row justify-between items-center mt-10 pb-2 h-12 border-b-[1px] border-lightMuted">
        <h1 class="font-semibold font-terminal uppercase px-2">Checkpoint</h1>
      </div>

      <ol class="flex flex-col gap-y-10">
        <%= for {badge, index} <- Enum.with_index(@checkpoint_badges) do %>
          <li class={[
            "relative h-10 flex items-center font-medium w-full",
            index != @max_level - 1 &&
              "after:content-[''] after:w-0.5 after:h-full after:bg-gray-200 after:inline-block after:absolute after:top-10 after:left-[1.170rem]",
            index < @user_level && "after:bg-accent"
          ]}>
            <!-- Circle Icon -->
            <span class={[
              "size-10 rounded-full flex justify-center items-center mr-3 text-sm font-terminal font-semibold ",
              index < @user_level && "bg-accent text-primary",
              index > @user_level && "border-2 border-white text-white",
              index == @user_level && "border-2 bg-accent/10 border-accent text-accent"
            ]}>
              <%= if index < @user_level do %>
                <.icon name="hero-check" class="size-5 stroke-2" />
              <% else %>
                <%= index + 1 %>
              <% end %>
            </span>
            <!-- Level Description -->
            <div class="block">
              <h4 class={[
                "text-lg font-terminal uppercase",
                index <= @user_level && "text-accent",
                index > @user_level && "text-white"
              ]}>
                <%= gettext("Level %{level}", level: index + 1) %>
              </h4>
              <span class="text-sm">
                <%= badge.name %> -> <%= gettext("+%{badge_entries} entries",
                  badge_entries: badge.entries
                ) %>
              </span>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
  </div>=
  <.live_component
    module={SafiraWeb.App.HomeLive.FormComponent}
    id={@current_user.attendee.id || :new}
    title={@page_title}
    current_user={@current_user}
    action={@live_action}
    attendee={@current_user.attendee}
    patch={~p"/app"}
  />
</.page>
