<.hero event_start_date={@event_start_date} event_end_date={@event_end_date} />
<.pitch />
<.schedule
  event_start_date={@event_start_date}
  event_end_date={@event_end_date}
  url={~p"/"}
  params={@params}
/>
<.speakers speakers={@streams.speakers} />
<.sponsors tiers={@tiers} />
<.partners />
